@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.bg-dark-blurred {
	background-color: rgba(1,1,1, 0.4);
	z-index: 999;
	@apply backdrop-filter backdrop-blur-xl bg-opacity-50;
}